* {
  margin: 0;
  padding: 0;
}

body {
  height: 80vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.container {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.random-image {
  max-width: 100%;
  height: auto;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}