.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    border: 5px solid black;
    border-radius: 10px;
    position: relative;
    width: 80%;
}

.div-img {
    position: relative;
    width: 100%;
}

.div-img img {
    width: 100%;
    height: auto;
    object-fit: cover;
}


@media (max-width: 1980px) {
    .box {
        width: 35%;
    }
}

@media (max-width: 1080px) {
    .box {
        width: 40%;
    }
}

@media (max-width: 900px) {
    .box {
        width: 60%;
    }
}

@media (max-width: 768px) {
    .box {
        width: 75%;
    }
}

@media (max-width: 480px) {
    .box {
        width: 95%;
    }
}